body{
    background: rgb(31, 43, 43);
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    padding: 5px;
}

#Title{
    display: block;
    background-color: white;
    
    
    text-align:center;
    border: 5px solid black;
    margin:50px;

}

.Center_Image{
    max-width: 50%;
    height: auto;
    display: table;
    margin: 0 auto;
}


#Trinidad_Roti{
    background-color: rgb(253, 253, 255);
    border: 5px solid black;
    
}

#Trinidad_Roti:hover{
    border:8px solid paleturquoise
}

#Trinidad_Macaroni{
    background-color: white;
    border: 5px solid black
}

#Trinidad_Macaroni:hover{
    border:8px solid paleturquoise
}

#Trinidad_Doubles{
    background-color: white;
    border: 5px solid black;
}

#Trinidad_Doubles:hover{
    border:8px solid paleturquoise
}

#Trinidad_BakeandShark{
    background-color: white;
    border: 5px solid black;
}

#Trinidad_BakeandShark:hover{
    border:8px solid paleturquoise
}

.Trinidad_Food{
    
    
    justify-content: space-evenly;
    width: 30%;
    flex-direction:row;
    display: flex;
}

p {
    font-size: 150%
}